html {
  line-height: 1.618em;
  font-family: Georgia, Lora, serif;
  font-size: 16px;
  padding: 25px;

}

div {
  padding: 10px;
}

#address, #phone, #birth, {
  padding: 5px;
  border: none;
  background-color: #E3E3E3;
}

#submit {
  text-align: center;
  border: none;
  padding: 6px;
  background-color: #8D8D8D;
  color: white;
  font-family: Georgia, Lora, serif;
}

@media screen and (min-width: 330px) {
  #address, #phone {
    width: 90%;
  }
  div {
    padding-left: 10%;
  }
  #enter{
    text-align: center;
  }
}
@media screen and (min-width: 900px) {
  #address, #phone {
    width: 35%;
  }
  html {
    text-align:center;
  }
  #birthday{
    text-indent: -23%;
  }
}
